# IDEs
/.idea
/.vscode

# AI Assistants
/.claude

# Environment variable files
.env
.env.*
!.env.example

# Dependency directories
/node_modules

# Build output
/dist

# Doc output
/public

# Test coverage
/coverage

# Logs
*.log
